
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #34495e;
  height:100vh;
}
.main{
  height: 100px;
  width:100px;

  position: relative;
  transform: rotate(45deg) !important;
animation: a1 2s linear infinite;

}
span{
  height:50px;
  width:50px;
  animation: a2 1s linear infinite;


}
h4{
  color: #ecf0f1;
  position: absolute;
z-index:1;
top:50%;
left:50%;
transform: translate(-50%,-50%);
animation: a3 4s linear infinite;

}
.main span:nth-child(1){
  position: absolute;
  top:0;
  left:0;
    background: #1abc9c;

}
.main span:nth-child(2){
  position: absolute;
  top:0;
  right:0;
    background: #2ecc71;

}
.main span:nth-child(3){
  position: absolute;
  bottom: 0;
  left:0;
    background: #3498db;

}
.main span:nth-child(4){
  position: absolute;
  bottom:0;
  right:0;
  background: #9b59b6;

}
@keyframes a1 {
0%{
  height: 100px;
  width:100px;
}
50%{
  height: 150px;
  width:150px;



  }


100%{
  height: 100px;
  width:100px;
}
}
@keyframes a2 {
0%{
  transform: rotate(0deg);

}
30%{
  transform: rotate(90deg);
}
50%{
  transform: rotate(0deg);

}
70%{
  transform: rotate(0deg);

}
90%{
  transform: rotate(}0deg);

}
100%{
  transform: rotate(0deg);

}
}
@keyframes a3 {
  0%{
    color: white;
  
  }
  20%{
    color: rgb(14, 254, 200);

  }
  40%{
    color: rgb(208, 53, 23);
  }
  60%{
    color:rgb(129, 230, 22);
  }
  80%{
    color:rgb(239, 13, 255);
  }
  90%{
    color:rgb(247, 37, 14);
  }
  100%{
    color: white;
  }
}
